body {
  font-family: Roboto, sans-serif;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.header-contact {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

.hero-section_title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}
